body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    z-index: 1;
}

#crosshair {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none; /* 마우스 이벤트 차단 */
}

#background {
    position: absolute;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: -2;
}

#characterAnimation {
    position: absolute;
    left: 15%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    pointer-events: none;
    z-index: 1; /* 캔버스 뒤로 배치 */
}

